.marquee {
    width: 80vw;
    height: 20vh;

}
.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 60s linear infinite;
}
@keyframes scrolling {
    0% { transform: translateX(80vw);}
    100% {transform: translateX(-180vw);}
}
.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid teal;
    width: 20vw;
    flex-shrink: 5rem;
    white-space: nowrap;
}